 .ui.inverted.vertical.center.aligned.segment {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
  url('./assets/1892-nyc-currier-ives-1920-1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 275px;
  padding-top: 12px; */
}

/* These classes expand the wrapping DatePicker divs */
.react-datepicker__input-container {
  width: inherit;
}
.react-datepicker-wrapper {
  width: 100%;
}
/* The DatePicker timeSelect field in CreateTour comes with default
padding that pushes times out of field view. */
.react-datepicker__time-list {
  padding: 0;
}
