.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
  url('./assets/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 275px;
  padding-top: 12px;
}

.hero-text {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 45px;
  margin: 0 400px;
  padding: 0;
  color: #eae0ce;
}


/* NavBar */
.navbar {
  width: 100%;
}
/* As an alternative use "attached" prop on NavBar, but causes components
to attach to NavBar. See https://github.com/Semantic-Org/Semantic-UI/issues/254*/
.ui.menu {
    border-radius: 0px !important;
}


/* These classes expand the wrapping DatePicker divs */
.react-datepicker__input-container {
  width: inherit;
}
.react-datepicker-wrapper {
  width: 100%;
}
/* The DatePicker timeSelect field in CreateTour comes with default
padding that pushes times out of field view. */
.react-datepicker__time-list {
  padding: 0;
}
