.App {
  text-align: center;
}

.body {
  height: 100%;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  /* background-color: #4d9e99; */
}

/* The timeSelect field in CreateTour comes with default
padding that pushes times out of field view. */
.react-datepicker__time-list {
  padding: 0;
}
/*
font-family: 'EB Garamond', serif;
font-family: 'Cinzel', serif;
font-family: 'Lobster', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Jacques Francois', serif;
font-family: 'IM Fell Double Pica SC', serif; */
