.App {
  text-align: center;
  background-color: #dce5e3;
}

.body {
  height: 100%;
  padding-bottom: 500px;
}

.navbar {
  width: 100%;
}

/* These classes expand the wrapping DatePicker divs */
.react-datepicker__input-container {
  width: inherit;
}
.react-datepicker-wrapper {
  width: 100%;
}
/* The DatePicker timeSelect field in CreateTour comes with default
padding that pushes times out of field view. */
.react-datepicker__time-list {
  padding: 0;
}

/* As an alternative use "attached" prop on NavBar, but causes components
to attach to NavBar. See https://github.com/Semantic-Org/Semantic-UI/issues/254*/
.ui.menu {
    border-radius: 0px !important;
}
